body {
  background-color: blue;
}

.sub, .add, .show-value {
  width: 40px;
  height: 40px;
}

.show-value {
  margin-top: 10px;
  text-align: center;
}

.common-ui-text {
  padding-top: 5pt;
  padding-bottom: 5pt;
  font-size: 11pt;
}

#beats-per-minute-display {
  font-size: 25pt;
}

#bpm-text, #beats-per-minute-display {
  text-align: center;
}

#tempo-marking-display {
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}

#toggle-play {
  width: 80px;
  height: 40px;
  margin: auto;
  transition: 0.5s background-color;
}

#1, #2, #3 {
  margin: auto auto;
}

/*tunerjs*/

#tunerjs {
  width: 80%;
  margin: 0 auto;
}

.circle {
  width: 150px;
  height: 150px;
  margin: auto;
  border: white solid;
  border-radius: 50%;
  text-align: center;
  display: grid;
}

.note {
  font-size: 24pt;
  margin: auto 0;
}

.main {
  display: inline;
}

.content {
  text-align: center;
}

#detune {
  text-align: center;
}