.flex-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.flex-row {
  height: 33%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.container-3 {
  width: 33%;
  margin: auto auto;
}

.sub, .add, .show-value {
  width: 40px;
  height: 40px;
}

.show-value {
  margin-top: 10px;
  text-align: center;
}

.common-ui-text {
  padding: 0 10px;
  font-size: 11pt;
}

#metrojs {
  width: 80%;
  margin: auto auto;
}

#beats-per-minute-display {
  font-size: 25pt;
}

#bpm-text, #beats-per-minute-display {
  text-align: center;
}

#tempo-marking-display {
  font-style: italic;
  text-align: right;
  padding-right: 10px;
}

#toggle-play {
  width: 80px;
  height: 40px;
  margin: auto;
  transition: 0.5s background-color;
}

#1, #2, #3 {
  margin: auto auto;
}

/*header tab style*/

header {
  height: 75px;
  width: 100%;
  background-color: #474747;
}

.tabcontent {
  grid-row: 70%;
}

.tab {
  width: 350px;
  margin: 0 auto;
}

.tablinks {
  list-style: none;
  display: inline-grid;
  text-align: center;
  width: 150px;
  height: 75px;
}

.tablinks:hover {
  background-color: deeppink;
}

li p {
  margin: auto 0;
  vertical-align: middle;
}

/*tunerjs*/

#tunerjs {
  width: 80%;
  margin: auto auto;
}

.main {
  width: min-content;
  margin: auto;
}

.circle {
  width: 100px;
  height: 100px;
  margin: auto;
  border: white solid;
  border-radius: 50%;
  text-align: center;
  display: grid;
}

.note {
  font-size: 24pt;
  margin: auto 0;
}